<section *ngIf="movies.length">
  <div class="movie-list">
    <ul class="list-unstyled">
      <li *ngFor="let movie of movies; let i = index">
        <div class="radio">
          <input type="radio" name="selectedMovie" id="movie-{{i}}" (click)="onMovieSelect(movie)">
          <label for="movie-{{i}}">{{movie.Title}} ({{movie.Year}})</label>
        </div>
      </li>
    </ul>
  </div>
  <button (click)="onLoadMore()" *ngIf="showLoadMore" class="btn btn-primary">
    Show More
    </button>
</section>
